{% extends 'templates/app.twig' %}
{% block content %}
    <style>
        #map {
            margin: 0;
            padding: 0;
            height: 700px;
            max-width: none;
            border: solid 0px #cccccc;
        }
        body {
            background: #f4f4f4
        }
    </style>
    <div class="section banner page-title set-height-top">
        <div class="container">
            <div class="page-title-wrapper">
                <h2 class="captions">COBERTURA DE MANOS A LA OLLA</h2>
            </div>
        </div>
    </div>
    <div class="section progress-bars" >
        <div class="container">
            <div class="progress-bars-content">
                <div class="progress-bar-wrapper">
                    <p style="text-align: justify;">
                        La iniciativa Manos a la Olla, liderada por la Municipalidad Metropolitana de Lima, viene
                        trabajando desde 2019 en favor de las familias, niños y adultos mayores que forman parte
                        de las ollas comunes de la capital. En este lapso de tiempo, se ha logrado beneficiar a
                        880 ollas comunes, 228 794 personas y georreferenciar a 2233 ollas comunes en 30 distritos
                        de Lima Metropolitana. Es por ello que se ha elaborado dos reportes dinámico donde se muestra
                        los principales resultados que la iniciativa ha logrado hasta la fecha.
                    </p>
                    <p>
                        El siguiente mapa
                        muestra la cantidad de ollas registradas en nuestro mapa de georreferenciación.
                    </p>
                    <br>
                    <div class="group-button">
                        <a href="{{path_for('atendidas')}}" class="btn btn-default"><span>Ollas atendidas</span></a>
                        <a href="{{path_for('georeferenciado')}}" class="btn btn-primary"><span>Ollas georeferenciadas</span></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="main-content section-padding">
        <div class="content">
            <div class="section">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div id="map" class="map"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script type="text/javascript" src="{{ base_url() }}/js/geocharts.js"></script>
{% endblock content %}
